/*included css start */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #B2EAFF; */
  background-color: #FFFFFF;
  /* background-image: url(background.png); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 5vh;
  left: 5vh;
  width: 20%;
  height: auto;
}

.title {
  margin: 0 auto;
}

.title-pink {
  margin: 0 auto;
  color: #fb2b60;
  font-family: 'Varela Round';
  font-size: 500%;
  -webkit-text-stroke-width: .05px;
  -webkit-text-stroke-color: black;
}
.title-yellow {
  margin: 0 auto;
  color: #fcb401;
  font-family: 'Varela Round';
  font-size: 500%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fb2b60;
}

/*navigation css start */
.color-nav {
  background-color: #19c0ff;
  text-align: center;
  color: white;
  box-shadow: 0 4px 4px 2px rgba(0,0,0,.2);
  width: 100%;
}

.white-nav {
  color: white;
}




.circle-icon {
    background: #FCB401;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    line-height: 60px;
    vertical-align: middle;
    font-weight: 900;
    color: white;
}

.circle-icon-selected {
    background: #FB2B60;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    line-height: 60px;
    vertical-align: middle;
    font-weight: 900;
    color: white;
}

h3 {
  display: inline;
  padding-left: 5px;
}

i {
  position: static;
}

.material-icons.md-50 {
  font-size: 50px;
}

/*logout button */
.pink {
  width: auto;
  margin-top: 5%;
  color:black;
  border-radius: 100px;
  background-color: #FB2B60;
}

.black-text {
  display: inline;
  color: black;
  position: relative;
  bottom: 6px;
}


/*Login/Registration css start */
.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: url(background.png);
}

.inner {
  width: 450px;
  height: 625px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 3%;
  background: #19c0ff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 30px;
  transition: all .3s;
}

.inner-login{
  position: relative;
  width: 450px;
  height: 550px;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 20px;
  background: #19c0ff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 30px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.top-area {
  list-style: none;
  padding: 0;
  background-color: #B2EAFF;
  border-radius: 16px;
}
.top-area:after {
  content: "";
  display: table;
  clear: both;
}
.top-area li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
  border-radius: 16px;
}

.top-area .active a {
  background: #FB2B60;
  color: black;
  width: 45%;
}

.top-area .inactive a {
  background-color: #B2EAFF;
  width: 55%;
  color: black;
}

.login {
  background-color: #B2EAFF;
  margin-top: -10px;
}

.login-btn-yellow {
  background-color: #FCB401;
  width: 40%;
  height: 40%;
  border-radius: 50px;
  margin-left: 100px;
  margin-top: 4.5%;
  text-align: center;
  font-size: 18pt;
}

.register-btn-yellow {
  background-color: #FCB401;
  width: 40%;
  height: 30%;
  border-radius: 50px;
  margin-left: 100px;
  margin-top: 4.5%;
  text-align: center;
  font-size: 18pt;
}

.btn-yellow {
  background-color: #FCB401;
  width: auto;
  height: auto;
  border-radius: 100px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18pt;
}

.btn-yellow-friends {
  background-color: #FCB401;
  width: auto;
  height: auto;
  border-radius: 100px;
  margin-left: 65%;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18pt;
}

.alert {
  margin-top: 50px;
}

.alert-registration {
  vertical-align: -2px;
}

/*Friends Page CSS */

.btn-back {
  background-color: #FCB401;
  width: 40%;
  height: 35%;;
  border-radius: 100px;
  margin-left: 15%;
  margin-top: 4.5%;
  text-align: center;
  font-size: 18pt;
  border: none;
  outline: 0 !important;
}

.text-btn {
  bottom: 5px;
  font-size: 18pt;
  display: inline;
  bottom: 7px;
  position: relative;
}

.avatar {
    background: black;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-weight: 900;
    border: solid 2pt red;
    margin-left: 10%;
    margin-top: 3.7%;
}

.rank-header {
  margin-top: 3.7%;
}

.yellow {
  background: #FCB401;
  font-size: 36px;
  color: black;
  text-align: center;
  margin-left: 50pt;
  width: 40%;

}
.rank {
  display: inline;
  margin-left: 30%;
  position: relative;
  bottom: 70px;
  font-size: 60px;
  color: #19C0FF;
}

.pink-header {
  background-color: #FB2B60;
  font-size: 36px;
  color: black;
}

th{
  text-align: center;
}

.friends-search {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 40%;
  border: 0;
}

.friends-button {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #19C0FF;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  border: 0;
}

.friends-button:hover {
  background-color: #19C0FF;
  filter: brightness(120%);
}

tr:nth-child(even) > td.first {
  color: black;
  background-color: #19C0FF;
  text-align: center;
  border: 0;
}

tr:nth-child(even) > td.second {
  background-color: #55D0F1;
  color: black;
  text-align: center;
  border: 0;
}

tr:nth-child(odd) > td.first {
  background-color: #55D0F1;
  color: black;
  text-align: center;
  border: 0;
}
tr:nth-child(odd) > td.second {
  color: black;
  background-color: #19C0FF;
  text-align: center;
  border: 0;
}

.edit-btn-yellow {
  background-color: #FCB401;
  width: auto;
  height: auto;
  border-radius: 100px;
  margin-left: 15%;
  margin-top: 4.5%;
  text-align: center;
  font-size: 18pt;
}

/* .edit-profile-text {
  display: inline;
  position: relative;
  bottom: 6px;
  font-size: 14pt;
  font-style: bold;
} */

.md-34 {
  font-size: 34px;
}

.loggedInDiv {
  font-size: 24pt;
  text-align: center;
  margin-top: 5%;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.budget-breakdown {
  width: 80%;
  height: 550px;
  margin-left: 10%;
  margin-top: 5%;
  padding-top: 25px;
  /* padding-bottom: -20px; */
  background: #19C0FF;
  text-align: center;
  border-radius: 30px;
}

.budget-graphics {
  background-color:  #55D0F1;
  border-radius: 30px;
  height: 400px;
}

.num-budgets {
  margin-top: 3%;
}

.apexcharts-legend {
  height: 200px !important;
}

.apexcharts-legend-marker {
  height: 20pt !important;
  width: 20pt !important;
}

.apexcharts-legend-text {
  font-size: 24pt !important;
}

.budget-btn-yellow {
  background-color: #FCB401;
  width: auto;
  height: auto;
  border-radius: 100px;
  margin-left: 34%;
  margin-top: 2.5%;
  text-align: center;
  font-size: 18pt;
  position: relative;
  right: 50;
}

.recover-btn-yellow {
  background-color: #FCB401;
  width: 70%;
  height: 75%;
  border-radius: 50px;
  margin-left: 15%;
  margin-top: 2.5%;
  text-align: center;
  font-size: 18pt;
}

.md-48 {
  font-size: 50px;
}

.add-icon {
  background: #FCB401;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: white;
  position: relative;
}
.add-icon:hover {
  background: #FCB401;
  filter: brightness(120%);
}

.budget-card-outer {
  width: 30%;
  height: 300px;
  margin-left: 2%;
  margin-top: 2%;
  background: #19C0FF;
  text-align: center;
  border-radius: 10%;
  display: inline-block;
}

.budget-card-inner {
  background-color:  #55D0F1;
  border-radius: 3%;
  height: 160px;
}

.top-area-password {
  list-style: none;
  padding: 0;
  background-color: #B2EAFF;
  border-radius: 16px;
  width: 100%;
}

.top-area-password:after {
  content: "";
  display: table;
  clear: both;
}
.top-area-password li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 60%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
  border-radius: 16px;
}

.top-area-password .active a {
  background: #FB2B60;
  color: black;
  width: 55%;
}

.top-area-password .inactive a {
  background-color: #B2EAFF;
  width: 45%;
  color: black;
}


.inner-forgot-password{
  width: 450px;
  height: 400px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 20px;
  background: #19c0ff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.4);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

#chart {
  margin-right: 50%;
}

.meta-data {
  background-color: white;
  width: 30%;
  margin-left: 60%;
  position: relative;
  bottom: 200px;
}

.remove-button {
  margin-left: 2%;
  margin-bottom: 1%;
  background: red;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  color: white;
  position: relative;
}

.remove-button:hover {
  background: red;
  filter: brightness(120%);
}

.budget-card-display {
  width: 100%;
  height: 400px;
  margin-top: 8%;
  padding-top: 10px;
  background: #19C0FF;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.budget-card-inner-display {
  background-color:  #55D0F1;
  border-radius: 30px;
  height: 270px;
}

#metadata {
  width: 45%;
  margin-left: 49%;
  position: relative;
  bottom: 190px;
  height: 150px;
  text-align: center;
}

.budget-table {
  width: 60%;
  margin-left: 17%;
  margin-top: 5%;
}

.budget-header {
  font-size: 36px;
}

.inline {
  display: inline-block;
  width: 27%;
  margin-left: 4%;
}

tr:nth-child(even) > td.first-budget {
  color: black;
  background-color: #19C0FF;
}

tr:nth-child(odd) > td.first-budget {
  background-color: #55D0F1;
  color: black;
}

.budget-edit-btn {
  background: #FCB401;
  border: none;
  margin-top: 2%;
  font-size: 18px;
  border-radius: 500px;
  color: black
}

#manage {
  display: inline;
  position: relative;
  bottom: 5px;
}

.budget-card-display-modal {
  width: 40%;
  height: 60%;
  margin-left: 30%;
  margin-top: 5%;
  background: #19C0FF;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.budget-card-allowance-modal {
  width: 20%;
  height: 30%;
  margin-left: 40%;
  margin-top: 5%;
  background: #19C0FF;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.budget-card-inner-display-modal {
  background-color:  #55D0F1;
  border-radius: 3%;
  margin-top: 5%;
  height: 270px;
  text-align: center;
}

.modal-content {
  background: #19C0FF;
  border: none;
}

.modal-exit {
  float: left;
  background-color: red;
  width: 25%;
  border-radius: 100px;
  font-size: 20px;
}

.modal-submit {
  float: none;
  width: 25%;
  border-radius: 100px;
  margin-left: 37.5%;
  top: -48px;
  position: relative;
  font-size: 20px;
  height: 21%;
  text-align: center;
}

.modal-delete {
  float: right;
  width: 25%;
  border-radius: 100px;
  margin-left: 75%;
  top: -95px;
  position: relative;
  background-color: red;
  font-size: 20px;
}

.exit {
  display: inline;
  position: relative;
  bottom : 4px;
}

.save {
  display: inline;
  position: relative;
  width: auto;
  bottom : 6px;
  border-radius: 30px;
}

.edit-budget-input {
  width: auto;
  border-radius: 2px;
  padding-left: 7px;
  height: 30px;
  border: none;
}

.delete {
  position: relative;
  bottom: 3px;
  font-size: 20px;
}

.react-confirm-alert-overlay {
  background: rgb(25, 192, 255, 0.5) !important;
}

.react-confirm-alert-button-group > button {
  background-color: #FCB401 !important;
  color: black !important;
  margin-left: 22% !important;
}

.react-confirm-alert-body {
  background: white !important;
  border: white solid 5px !important;
  text-align: center !important;
  color: black !important;
}

.inner-recover {
  width: 450px;
  height: 425px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 3%;
  background: #19c0ff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.slider {
  position: relative;
  bottom: 150px;
  right: 90px;
}

.progress-submit {
  width: auto;
  margin-left: 50%;
  position: relative;
  bottom: 184px;
  font-size: 15px;
  height: 15%;
  border-radius: 100px;
}

/* .new-budget-text {
  display: inline;
  position: relative;
  bottom: 12px;
} */

.button-text {
  display: inline;
  position: relative;
  bottom: 6px;
  font-size: 14pt;
  font-style: bold;
}

.progress {
  width: 90%;
  margin-left: 5%;
}

.budget-btn{
  background-color: #FCB401;
  width: 40%;
  height: 65%;
  border-radius: 100px;
  margin: 0 auto;
  margin-left: 0%;
  margin-top: 4%;
  text-align: center;
  font-size: 24px;
  border: none;
  color: black;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  display: inline-block;
}

.allowance-btn{
  background-color: #FCB401;
  width: 40%;
  height: 65%;
  border-radius: 100px;
  margin-left: 5%;
  margin-top: 4%;
  text-align: center;
  font-size: 24px;
  border: none;
  color: black;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  display: inline-block;
  position: relative;
  left: 20px;
}

.button-txt {
  font-size: 18pt;
  display: inline;
  position: relative;
  bottom: 12px;
}

/* newbudget modal */
.add {
  font-size: 18pt;
}

.modal-success {
  width: 40% !important;
}

.modal-success2 {
  width: 40%;
  display: inline-block;
  margin-left: 50%;
  position: relative;
  bottom: 53px;
}

.text-center {
  text-align: center;
}

.editAct-btn-yellow {
  background-color: #FCB401;
  width: 40%;
  height: 50px;
  border-radius: 50px;
  margin-top: 4.5%;
  margin-right: 180px;
  text-align: center;
  font-size: 18pt;
  border: none;
}

.editAct2-btn-yellow {
  background-color: #FCB401;
  width: 40%;
  height: 50px;
  border-radius: 50px;
  margin-top: 4.5%;
  text-align: center;
  font-size: 18pt;
  border: none;
  margin-left: 180px;
  display: inline;
  position: relative;
  bottom: 67px;
}

.alert2 {
  position: relative;
  bottom: 80px;
}

.pagination {
  margin-left: 40%;
}

.center {
  text-align: center;
}

.green {
  margin-left: 4%;
  color: green;
  display: inline;
}

.red {
  margin-left: 4%;
  color: red;
  display: inline;
}

.goal {
  margin-left: 80%;
  display: inline;
  position: relative;
  bottom: 33px;
}

.allowance-total {
  margin: 0 auto;
  margin-top: 23px;
}

.no-budgets {
  color: gray;
  padding-top: 25%;
}