body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-nav {
  background-color: #19c0ff;
}

.circle-icon {
    background: #FCB401;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-weight: 900;
}

.circle-icon-selected {
    background: #FB2B60;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-weight: 900;
}

svg {
  height: 30px;
}

h3 {
  display: inline;
  padding-left: 10pt;
}

i {
  position: static;
}

.material-icons.md-48 { font-size: 48px; }

.middle-nav {
  padding-left: 400px;
}

.logout {
  display: inline;
  position: relative;
  bottom: 5px;
}

.black-text {
  color: black;
}

.pink {
  background-color: #FB2B60;;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  height: 600px;
  margin: auto;
  background: #19c0ff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.top-area {
  list-style: none;
  padding: 0;
  background-color: #B2EAFF;
  border-radius: 16px;
}
.top-area:after {
  content: "";
  display: table;
  clear: both;
}
.top-area li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
  border-radius: 16px;
}

.top-area .active a {
  background: #FB2B60;
  color: black;
  width: 45%;
}

.top-area .inactive a {
  background-color: #B2EAFF;
  width: 55%;
  color: black;
}

.login {
  background-color: #B2EAFF;
  margin-top: -10px;
}

.btn-yellow {
  background-color: #FCB401;
  width: 40%;
  border-radius: 16px;
  margin-left: 100px;
  margin-top: 40px;
}

.alert {
  margin-top: 50px;
}
